body {
	min-height: 100vh;
	background-color: rgb(82, 28, 168);
}
.content > div > div > h1 {
	color: rgb(215, 230, 15);
}
.centered {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* inner edge bevel test */
.outer {
	overflow: hidden;
}
.inner {
	border: rgba(237, 253, 16, 0.952) 5px solid;
}
.inner i {
	width: 38px;
	height: 38px;
	border: rgba(237, 253, 16, 0.952) 5px solid;
	border-radius: 50%;
	background-color: rgb(82, 28, 168);
}
.inner .top {
	margin-top: -20px;
}
.inner .bottom {
	margin-top: -20px;
	margin-bottom: -22px;
}
.inner .left {
	float: left;
	margin-left: -20px;
}
.inner .right {
	float: right;
	margin-right: -20px;
}
.content {
	min-width: 80vw;
	min-height: 60vh;
	z-index: 1;
	/* background-color: rgba(16, 179, 255, 0.986); */
	/* border: rgba(237, 253, 16, 0.952) 10px solid; */
	border-radius: -10px;
}
